name: Frontend CI

on:
  push:
    branches: [main, dev]
    paths:
      - "frontEnd/**"
      - "infra/**"
      - "docker-compose.yml"
      - ".env"
      - ".github/workflows/frontend.yml"

  pull_request:
    branches: [main, dev]
    paths:
      - "frontEnd/**"
      - "infra/**"
      - "docker-compose.yml"
      - ".env"
      - ".github/workflows/frontend.yml"

jobs:
  example-job:
    runs-on: ubuntu-latest
    steps:
      - run: echo "Hello from frontend!"
